header,footer{
  text-align:left;
}
footer{
  margin-left: 160px;
}
nav{
  border-radius: 15px;border: 4px solid #7b1c2a;
  background-color:#ce2f47;
}
nav:not(.bottom){
  height: 96%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ce2f47; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}
body{
  background-color: #4d111a;
}
h3{
  margin-left: 10px;
  color: #db6274;
  font-family: sans-serif;
  text-align: ;
}
p.main{
  margin-left: 10px;
}
p.right{
  text-align: left;
  margin-left: 170px;
}
p{
  font-family: verdana;
  text-align: left;
  color: #f3cbd1;
}
p.dd{
  margin-left: 10px;
}
dt,dd{
  margin-left: 10px;
  font-family: helvetica;
  color: salmon;
}
h1{
  color: #db6274;
  font-family: sans-serif;
  margin-left: 170px;
}
img.center{
  display:inline;
  margin-left: 10px;
}
table.picchart{
  border: 10px solid #5c1520;
  border-radius: 20px; 
  background-color:#7b1c2a;
  padding: 5px;
}
tr,td{
  border: 4px solid #9c5b78;
  border-radius: 10px;
}
th,td{
  color: #f3cbd1;
}
table:not(.picchart){
  border: 5px solid #9c5b78;
  display: inline;
  float: right;
  background-color: #7b1c2a;
  border-radius: 10px;
}
dl{
  display: inline;
  float: ;
}
div{
  text-align: center;
}
a.next{
  float: right;
}
a.back{
  float: left;
}
img.nav{
  width: 100%;
}
main{
  margin-left: 160px;
}
hr{
  margin-left: 170px;
}
