header,footer{
  text-align:left;
}
nav{
  border-radius: 15px;border: 4px solid #9c5b3a;
  background-color:#c27e5b;
}
nav:not(.bottom){
  padding-top:5px;
}
body{
  background-color: #824c30;
}
h3{
  color: salmon;
  font-family: sans-serif;
  text-align: right;
}
p.right{
  text-align: left;
}
p{
  font-family: verdana;
  text-align: left;
  color: #808000;
}
dt,dd{
  font-family: helvetica;
  color: salmon;
}
h1{
  color: darksalmon;
  font-family: sans-serif;
}
img.center{
  display: inline;
  margin-right:0px;
}
table.picchart{
  border: 10px solid #9c5b3a;
  border-radius: 20px;
  background-color:#c27e5b;
  padding: 5px;
}
tr,td,table{
  border: 5px solid #9c5b78;
  border-radius: 10px;
}
table:not(.picchart){
  display: inline;
  float: left;
  background-color: #b66a43;
}
dl{
  width: 20%;
  display: inline;
  float: left;
}
div{
  text-align: center;
}
a.next{
  float: right;
}
a.back{
  float: left;
}
