header,footer{
  text-align: ;
}
nav{
  border-radius: ;border: ;
  background-color: ;
}
body{
  background-color: ;
}
h3{
  color: ;
  font-family: ;
}
p{
  font-family: ;
  color: ;
}
h1{
  color: ;
}
